<div class="container border my-5">
    <h1 id="heading">My Connections ({{ contacts?.length }})</h1>

    
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input type="text" name="" matInput [formControl]="searchForm" [matAutocomplete]="auto" placeholder="Connection's Name">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <!-- <mat-option *ngFor="let contact of filteredContacts | async" [value]="contact">
              {{ contact.firstName }} {{ contact.lastName }}
            </mat-option> -->
          </mat-autocomplete>
        </mat-form-field>
      </form>

    <hr id="headingLine">
    
    <div *ngFor="let contact of (filteredContactsArr.length == 0 ? contacts: filteredContactsArr)" class="connection">
        <img class="item" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
        <div class="item connectionDesc">
            <h3 class="connectionName">{{ contact.firstName }} {{ contact.lastName }}</h3>
            <h4>Student at Fontys of Applied Sciences</h4>
            <hr class="dividerConnections">

        </div>
        <mat-icon aria-hidden="false" aria-label="Example chat icon" [routerLink]="['/users', 1, '
        messages']">chat</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon" (click)="openDialog(contact)">remove_circle_outline</mat-icon>


    </div>
</div>