h1{
    padding-left: 5%;
}
.ProfilePage-Block{
    background-color: gainsboro;
}


#buttonAdd{
    float: right;
    margin-right: 10%;
    margin-bottom: 7%;
}
.block-profile{
    /* background-color: gray; */
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 5px;
    margin-top: 2%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 700px; */
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }



/* Contact */
#contact {
  background-color: #0075db;
  color: white;
  height: 3em;
  width: 10em;
  /* border-radius: 5px; */
}


#contact:hover {
  background: white;
  color: #0075db;
  border: 1px solid #0075db;
}

