h1{
    padding-left: 5%;
}
.ProfilePage-Block{
    background-color: gainsboro;
}


#buttonAdd{
    float: right;
    margin-right: 10%;
}
.block-profile{
    background-color: gray;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 2%;
}