<img class="firend-img" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
<h3 class="friend-name"> {{ friend?.firstName }} {{ friend?.lastName }}</h3>
<hr>

<cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">  
    <!-- Loop over conversation -->
    <div class="chat-container" #scrollable>
        <div *ngFor="let message of conversation?.messages">
            <div class="message">
                <div class="sender">{{message?.sender.firstName}} {{message?.sender.lastName}}
                    <span class="time" 
                        [matTooltip]="getTooltipDate(getLocalDate(message.dateTime) | slice:0:19)"
						[matTooltipPosition]="position.value">
                        {{getLocalDate(message.dateTime) | slice:0:19 | dateAgo  }}
                    </span>

                    <!-- {{message?.dateTime | slice:0:10}} {{message?.dateTime | slice:11:16}} -->
                </div>
                <div class="message-content">
                        {{message.content}}
                </div>
            </div>
            <hr class="conversation-divider">
        </div>

    </div>
</cdk-virtual-scroll-viewport>

<form class="example-form" #f="ngForm" (ngSubmit)="submit(f)">
    <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Send a message</mat-label>
        <textarea matInput ngModel name="message" #message="ngModel"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" id="send-message" [disabled]="!message.value?.trim()">Send</button>
</form>