<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <form (ngSubmit)="updateEducation()" #EducationForm="ngForm">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="text-right">Edit your Education</h6>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-12"><label class="labels">School</label>
                    <input type="text" class="form-control" id="school"
                    required
                    [(ngModel)]="education.school" name="school"
                    #school="ngModel">
                </div>
                <div class="col-md-12"><label class="labels">Start year</label>
                    <input type="text" class="form-control" id="startYearEducation"
                    required
                    [(ngModel)]="education.startYearEducation" name="startYearEducation"
                    #startYearEducation="ngModel">
                </div>
                <div class="col-md-12"><label class="labels">End year</label>
                    <input type="text" class="form-control" id="endYearEducation"
                    required
                    [(ngModel)]="education.endYearEducation" name="endYearEducation"
                    #endYearEducation="ngModel">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Degree</label>
                    <input type="text" class="form-control" id="degreeEducation"
                    required
                    [(ngModel)]="education.degreeEducation" name="degreeEducation"
                    #degreeEducation="ngModel">
                </div>
                <div class="col-md-12"><label class="labels">Field of study</label>
                    <input type="text" class="form-control" id="fieldStudy"
                    required
                    [(ngModel)]="education.fieldStudy" name="fieldStudy"
                    #fieldStudy="ngModel">
                </div>
                <div class="col-md-12"><label class="labels">Description</label>
                    <input type="text" class="form-control" id="descriptionEducation"
                    required
                    [(ngModel)]="education.descriptionEducation" name="descriptionEducation"
                    #descriptionEducation="ngModel">
                </div>
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" >Save Education</button></div>
        </form>
        </div>
        <div class="col-md-4 border-right">
            <form (ngSubmit)="updateExperience()" #ExperienceForm="ngForm">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Edit your Experience</h6>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Company</label>
                        <input type="text" class="form-control" id="company"
                        required
                        [(ngModel)]="experience.company" name="company"
                        #company="ngModel">
                    </div>
                    <div class="col-md-12"><label class="labels">Employment type</label>
                        <input type="text" class="form-control" id="employmentType"
                        required
                        [(ngModel)]="experience.employmentType" name="employmentType"
                        #employmentType="ngModel">
                    </div>
                    <div class="col-md-12"><label class="labels">Location</label>
                        <input type="text" class="form-control" id="locationId"
                    required
                    [(ngModel)]="experience.locationId" name="locationId"
                    #locationId="ngModel">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Start year</label>
                        <input type="text" class="form-control" id="startDateExperience"
                        required
                        [(ngModel)]="experience.startDateExperience" name="startDateExperience"
                        #startDateExperience="ngModel">
                        
                    </div>
                    <div class="col-md-12"><label class="labels">End year</label>
                        <input type="text" class="form-control" id="endDateExperience"
                    required
                    [(ngModel)]="experience.endDateExperience" name="endDateExperience"
                    #endDateExperience="ngModel">
                    </div>
                    <div class="col-md-12"><label class="labels">Title</label>
                        <input type="text" class="form-control" id="title"
                        required
                        [(ngModel)]="experience.title" name="title"
                        #title="ngModel">
                    </div>
                    <div class="col-md-12"><label class="labels">Description</label>
                        <input type="text" class="form-control" id="descriptionExperience"
                    required
                    [(ngModel)]="experience.descriptionExperience" name="descriptionExperience"
                    #descriptionExperience="ngModel">
                    </div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" >Save Experience</button></div>
            </form>
        </div>
        <div class="col-md-4">
            <form (ngSubmit)="updateAbout()" #AboutForm="ngForm">
                <div class="d-flex justify-content-between align-items-center experience">
                    <h6 class="text-right">Edit About you</h6>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">About you</label>
                        <input type="text" class="form-control" id="content"
                        required
                        [(ngModel)]="about.content" name="content"
                        #content="ngModel">
                        
                    </div>
                </div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" >Save About you</button></div>
            </form>
            
        </div>
    </div>
</div>
