<mat-card class="filter-card">
    <mat-card-header>
      <mat-card-title>Filter Users:</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <p>
        <mat-radio-group aria-label="Select an option">
          <br>
          <label>User Type</label>
          <br>
          <mat-radio-button value="1">Student</mat-radio-button>
          <mat-radio-button value="2">Teacher</mat-radio-button>
          <mat-radio-button value="3">Employee</mat-radio-button>
          <br>
        </mat-radio-group>
      </p>

      <br>
      <h4>Start Study Year</h4>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <mat-select>
          <mat-option *ngFor="let y of years" [value]="y.value">
            {{y.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <h4>Department</h4>
      <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select>
          <mat-option *ngFor="let d of departments" [value]="d.value">
            {{d.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <h4>Location</h4>
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <mat-select>
          <mat-option *ngFor="let l of locations" [value]="l.value">
            {{l.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
<!--     
    <mat-card-actions>
      
    </mat-card-actions> -->
</mat-card>

<mat-card class="found-card">

  <mat-card-header>
    <mat-card-title>Users:</mat-card-title>
  </mat-card-header>

  <mat-card-content>


  </mat-card-content>

</mat-card>



