.filter-card {
    max-width: 400px;
    max-height: 800px;
    
    margin-top: 100px;
    
  }

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.found-card {
  max-width: 600px;
  max-height: 1000px;

  margin-top: 100px;
}

