.container {
	width: 80%;
}


.flex-container {
	display: flex;
	width: 100%;
  }
  
.flex-container > div {
	/* margin: 10px;
	padding: 20px;
	font-size: 30px; */
}

.flex-small-container {
	display: flex;
	flex-direction: column;
	width: 70%;
}
  
.flex-container > div {
	/* margin: 10px;
	padding: 20px;
	font-size: 30px; */
}

.selected-message {
	/* flex-grow: 4; */
	width: 60%;
}

.item {
	width: 40%;
}

.item, .selected-message {
	padding: 3%;

}

#icons {
	text-align: right;
}

/* List of messages */
.messages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* height: 18vh; */
}

/* Connection image */
img {
    width: 107px;
	margin-right: 4%;
}

/* Friend name */
/* .friend-name {
    cursor: pointer;
} */

/* Connection Description */
/* .message-item.firend-desc {
    margin: auto;
    width: 60%;
} */

/* Icons */
mat-icon {
    font-size: 2em;
    margin: auto 1%;
    cursor: pointer;
}

mat-icon:hover {
    color: #0075db;
}

#notification {
    font-size: 1.8em;
}

/* Tooltip */
::ng-deep .mat-tooltip {
    font-size: 0.8em;
}

.selected-message {
	/* width: 100%; */
}

/* Selected message */
.selected-message > h3.friend-name {
	display: inline-block;
}

.conversation-divider {
	width: 60%;
}

.sender {
	font-size: 1.2em;
}

.sender > .time {
	float: right;
}

.message-content {
	margin-top: 2%;
    line-height: 1.7em;
}

.message-img {
	width: 90px;
}


.full-width-field {
   width: 100%;
}

#send-message {
	float: right;
}