<div class="container">
    <br><br>
    <br>
    <br>
    
    
    <div id="creatPostBlock">
    <textarea [(ngModel)] = "content" placeholder="Your awesome post..." id = "newPostText"></textarea> <br>
    <button (click) ="createPost()" class = "postBtn">Post</button>
    <br>
    <br>
    
    </div>
    
<hr>
<br><br><br>
</div>


<div class="container">
    <!-- <div *ngFor="let p of allposts ">
        
        
       
        <app-post [id]="p.id" [post] = "p"></app-post>
        <p>{{p.id}}</p>
    </div> -->
    
        <li *ngFor="let post of allposts;">
            <app-post [id]="post.id" [post] = "post"></app-post>
        </li>
    
      
      
</div>