<h1>Add skill</h1>
<form  class="text-center border-silver" #userSkill="ngForm" (ngSubmit)= "onSubmitSkill(userSkill.value)"> 
    <label ><h3>Skill</h3> </label> 
    <mat-form-field class="input-full-width">
        <input matInput type="text" name="skill" ngModel placeholder="C#"> 
    </mat-form-field>
    <button 
        mdbBtn 
        type="submit"  
        rounded="true" 
        id="submitButton"
        id="submitButton" > submit
    </button>
    <button mdbBtn type="button" class="closeButton" (click)="CloseDialog()">Close</button>   
</form>